<h1>Sobre mí</h1>
<p> Tengo 2 licenciaturas: Contabilidad y Derecho. Me confieso amante de los K-Dramas, las buenas historias y
    de hacer amigos (aunque sean virtuales). Me encanta la música, la lectura y compartir mi tiempo con mis seres
    queridos. Soy muy empática, así que es muy fácil que llore, pero lo considero una fortaleza. Disfruto mucho los
    KDramas dramáticos con finales justos y congruentes, los trhillers y misterios me atraen más que los romances y
    hasta sigo con interés las historias con acción mientras tengan una historia interesante que contar. Me gusta
    aprender, compartir y disfrutar. Saludos a todos y gracias por acompañarnos en ésta gran aventura.
</p>