<h3>Lista de dramas</h3>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Titulo</th>
            <th>Genero</th>
            <th>Capitulos</th>
            <th>Año de emisión</th>
            <th>Esta en emisión</th>
            <th>Visto</th>
            <th>Puntaje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kdrama of kdramas" [ngClass]="{'emision':kdrama.emision}">
            <td><img [src]="kdrama.imagen" [alt]="kdrama.titulo"></td>
            <td>{{kdrama.titulo | uppercase}}</td>
            <td>{{kdrama.genero}}</td>
            <td>{{kdrama.capitulos}}</td>
            <td>{{kdrama.anio}}</td>
            <td>{{kdrama.emision}}</td>
            <td>{{kdrama.visto}}</td>
            <td>
                <app-input-integer [(puntaje)]="kdrama.puntaje" (maxReached)="maxReached($event)"></app-input-integer> <!--el output hace que funcionen los ()y el input los []-->
                <button class="btn btn-primary" (click)="agregarAVistos(kdrama)">Visto</button>
            </td>
        </tr>
       
    </tbody>
</table>
