<h3>Dramas</h3>
<div class="cards-container">
    <div class="card" style="width: 18rem;" *ngFor="let kdrama of kdramas" [ngClass]="{'emision':kdrama.estaEnEmision}">
        <img [src]="kdrama.portada" [alt]="kdrama.titulo" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{kdrama.titulo | uppercase}}</h5>
            <p class="card-text">{{kdrama.anio}}</p>
            <p *ngIf="kdrama.visto==true" class="card-text">¡Fue agregado a tu lista!</p>
            <app-input-integer [(puntaje)]="kdrama.puntaje" (maxReached)="maxReached($event)"></app-input-integer>
            <button class="btn btn-primary" (click)="agregarAVistos(kdrama)">Puntuar</button>
        </div>
    </div>


</div>