<h1>Kimchi para dos</h1>
<p>Llevá un rastreo de las series coreanas que mirás y puntualas. Comparte tu opinión con la comunidad. </p>
<div class="div-imagenes">
    <img src="https://i.ibb.co/Xp4dYmF/el-Paraguas.jpg" alt="El paraguas de la reina">
    <img src="https://i.ibb.co/wrpXsRG/la-Flor-Del-Mal.webp" alt="la flor del mal">
    <img src="https://i.ibb.co/71YRN4L/mr-Sunshine.webp" alt="mr Sunshine">
    <img src="https://i.ibb.co/8gBF776/bigMouth.jpg" alt="big mouth">
    <img src="https://i.ibb.co/0FC8fZk/cheerUp.webp" alt="cheer up">

</div>

