<h1>Agregar kdrama</h1>
<p>¿Falta alguna serie? ¡Agregala a nuestra base de datos! Este sitio lo hacemos entre todos :)</p>
<form action="post" #kdramasForm="ngForm" (ngSubmit)="onKdramaCreate(kdramasForm.value)">

    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Titulo</label>
        <input type="text" name="titulo" class="form-control" placeholder="titulo" ngModel>
    </div>
    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Genero</label>
        <input type="text" name="genero" class="form-control" placeholder="genero" ngModel>
    </div>
    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Capitulos</label>
        <input type="number" name="capitulos" class="form-control" placeholder="capitulos" ngModel>
    </div>
    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Portada</label>
        <input type="text" name="portada" class="form-control" placeholder="portada" ngModel>
    </div>
    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Esta en emision</label>
        <input type="text" name="estaEnEmision" class="form-control" placeholder="Introducir true o false" ngModel>
    </div>
    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Año</label>
        <input type="text" name="anio" class="form-control" placeholder="año" ngModel>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>

</form>